@model IEnumerable<WebApplication1.Models.Person>
@using WebApplication1.Models

@{
    ViewBag.Title = "О, привет";
}

<a asp-action="DBwatch">Третьи лица</a>
<a asp-action="ViewProcesses">Процессы</a>
<a asp-action="DBwatch">Системы</a>
